@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import "./breakpoints.scss";
@import "./colors.scss";
@import "../components/Header/header.scss";
@import "../components/Banner/banner.scss";
@import "../components/Boxes/boxes.scss";
@import "../components/Overlay/overlay.scss";
@import "../components/BoxItem/boxItem.scss";

html {
  height: 0;
}

body {
  font-family: 'Josefin Sans', 'Roboto';
  margin: 0;
}
.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .row {
    display: flex;
    height: 100%;
  }
}
.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}