
.overlay {
  background: $black;
  width: 100vw; 
  height: 100vh; 
  @include media("<=tablet") {
    width: 100vw; 
    height: 100vh; 
    background: $black;
  }
  @include media("<=phone") {
    width: 100vw; 
    height: 100vh; 
    background: $black;
  }
}
.project{
  height: 50vh; 
  .row {
    .project-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50vw;
      height: 50vh;
      .project-title {
        width: 85%;
        p {
          color: $white;
          font-size: 4rem; 
        }
      }  


    }

  }

}
// .project-detail-2 {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 50vw;
//   height: 50vh;
//   margin-top: 5vw;

// }

// .project-image {
//   width: 100%;
//   height: 100%;
//   position: relative; 
//   overflow: hidden;
//   &:after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     right: 0;
//      background: pink;
  
//   }
 
//   img{
//     width: 100%;
//     height: 100%;
//     position: absolute;

//   }
// }