
.slider-section {
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  visibility: hidden;

  .slider-container {
    height: 600px; 
    width: 1300px; 
    min-width: 1300px; 
    position: relative; 
    &:after{
      content:'';
      background:black;
      width: 100%;
      height: 100%; 
      position: absolute;
      left: 0; 
      top: 0;
    }
    .btns-container {
      position: absolute;
      bottom: 0;
      left: 0; 
      display: flex; 
      margin-left: 60px; 
      .btns {
        margin-right: 15px; 
        display: flex;
        align-items: center; 
        justify-content: center;
          span {
            width: 50px; 
          }
        cursor: pointer; 
        &.right {
          width: 50px; 
          span {
            width: 50px; 
            transform: scaleX(-1);
          }
  
        }
      }
    }
    .slider-inner {
      display: flex;
      align-items: center; 
      justify-content: center;
      height: 600px; 
      .slider-image {
        width: 800px; 
        display: flex;
        align-items: center; 
        justify-content: center;
       
        ul {
          padding: 0;
          display: flex; 
          position: absolute; 
          overflow: hidden; 
          width: 800px; 
          height: 569px;
          li{
            width: 800px; 
            height: 569px;
            img {
              width: 800px; 
              height: 569px;
            }
          }
        }
      }
      .slider-content {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 500px; 
        height: 500px; 
        position: relative; 
        ul {
          width: 600px; 
          height: 400px; 
          position: absolute; 
          overflow: hidden; 
          li {
            margin-left: 100px;
            width: 500px; 
            height: 400px; 
            color: white; 
            display: flex; 
            align-items: center; 
            opacity: 0;
            position: absolute;
            &:nth-child(1) {
              opacity: 1;
            }
            .slider-text {
              width: 500px; 
              .title {
              font-size: 30px;
               letter-spacing: .8px;
              }
              .description-container {
                width: 400px; 
                .description {
                  font-size: 18px;
                  letter-spacing: .8px;
                  line-height: 1.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}